@import '../../vars.scss';
.list-container {
  display: flex;
  flex-direction: column;
  .list-title-container {
    margin-block: 1rem;
    h2 {
      margin: 0;
      font-family: $contrail-one-font;
      font-size: 3rem;
      text-align: center;
    }
  }
  .retro-photos-container {
    img {
      max-width: 100%;
    }
    .desktop-retro-img {
      display: none;
    }
  }
  .size-filter-container {
    margin-block-end: 1rem;
    margin-inline-start: 1.297rem;
  }
  .clothes-list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0rem;
  }
}

@media (min-width: 420px) {
  .list-container {
    .retro-photos-container {
      .mobile-retro-img {
        display: none;
      }
      .desktop-retro-img {
        display: flex;
      }
    }
    .list-title-container {
      margin-block-start: 2.5rem;
      h2 {
        margin: 0;
      }
    }
    .size-filter-container {
      margin-inline-start: 2.4%;
    }
    .clothes-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
