@import '../../vars.scss';
.clothes-card {
  margin-block-end: 1.297rem;
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $contrail-one-font;
    background-color: white;
    width: 10rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 0.15rem 0;
    .card-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $dark-grey;
      width: 10rem;
      height: 3.438rem;
      border-radius: 0px 0px 10px 10px;
      p {
        margin-block: 0.125rem;
        color: white;
      }
      .card-name-container {
        font-size: 0.75rem;
      }
      .card.price-container {
        font-size: 0.938rem;
      }
    }
  }
}
