@import '../../vars.scss';
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $contrail-one-font;
  .card-info-container {
    p {
      margin: 0;
    }
  }
}
