@import '../../vars.scss';

footer {
  font-family: $inter-font;
  background-color: $dark-grey;
  color: white;
  margin-block-start: 3.2rem;
  p {
    margin: 0;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 0.74rem;
    gap: 0.4rem;
    .footer-copy-container {
      p {
        font-size: 0.64rem;
      }
    }
    .footer-pages-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;
      p {
        font-size: 0.75rem;
      }
    }
    .footer-icons-container {
      display: flex;
      gap: 0.8rem;
    }
  }
}
